html {
  height: 100%;
}
h1 {
  text-align: center;
  color: #f4f7f5;
  font-style: oblique;
}

body {
  background:rgb(9, 110, 128);
  height: 100%;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

section{
  width: 960px;
  margin: 0 auto;
}

.contenedor {
  background: linear-gradient(rgb(9, 110, 128), rgb(7, 238, 219));
  height: 100%;
  display: grid;
  grid-template-areas:
    "titulo titulo titulo"
    "sidebar blog  sidebarderecho"
    "footer  footer footer";
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 40px 1fr 300px;
  gap: 10px;

}

.sidebar {
  background: linear-gradient(rgb(23, 120, 138), rgb(7, 238, 219));
  display: flex;
  flex-direction: column;
  grid-area: sidebar;
  text-align: justify;
  padding: 10px;
  width: 110px;
}
  

.blog {
  grid-area: blog;
  display: flex;
}

@media (max-width: 600px) {
    .contenedor {
        height: 100%;
        display: grid;
        grid-template-areas:
          "titulo"
          "sidebar"
          "blog";
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5,1fr);
        gap: 10px;
      }
}



#boton{
  background-color: rgb(118, 44, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
  padding: 3px;
  border: solid 2px black;
}

#boton:hover{
  background-color: rgb(22, 8, 226);
  font-size: 22px;
}